<mat-toolbar color="primary" class="toolbar">
  <button mat-button routerLink="/" routerLinkActive="active">Home</button>
  <button mat-button routerLink="/livros" routerLinkActive="active">Livros</button>
  <button mat-button routerLink="/usuarios" routerLinkActive="active">Usuários</button>
  <button mat-button routerLink="/emprestimos" routerLinkActive="active">Empréstimos</button>
  <button mat-button routerLink="/recomendacoes" routerLinkActive="active">Recomendação</button>
</mat-toolbar>

<router-outlet></router-outlet>
